In [ ]:
#a
import pandas as pd
data=pd.read_csv("gpa99.csv")
data

,studentid,surveydate,age,ehpw,hpw,hsleep,gpa,imp,gender,job,type,marital.status
0,57327,43191,24,24,16,6.29,46.35,very_important,male,empl,par-time,single
1,231,43101,18,13,9,8.86,36.84,not_important,female,empl,par-time,single
2,10474,43117,26,20,19,6.43,65.07,very_important,male,unempl,full-time,divorced
3,8654,43114,20,19,11,7.71,33.87,apathetic,female,empl,par-time,single
4,80185,43227,27,19,21,6.29,NaN,apathetic,male,unempl,full-time,divorced
5,69894,43211,21,14,13,8.14,48.61,neutral,female,empl,par-time,single
6,20300,43133,25,20,18,6.57,49.86,not_important,male,empl,par-time,single
7,13202,43121,26,22,19,6.14,59.62,not_important,male,unempl,full-time,divorced
8,86953,43238,22,22,14,6.86,44.57,not_important,female,empl,par-time,single
9,71727,43214,21,21,13,7.14,37.56,not_important,female,empl,par-time,single
10,33697,43154,22,28,14,6.00,38.34,important,female,empl,par-time,single
11,13030,43121,24,17,16,7.29,58.18,very_important,male,unempl,full-time,single
12,72249,43215,21,16,13,7.86,46.04,neutral,female,empl,par-time,single
13,66040,43205,26,19,19,6.57,66.85,important,male,unempl,full-time,divorced
14,76426,43221,22,19,14,NaN,50.30,very_important,female,unempl,full-time,single
15,5537,43109,22,21,13,7.14,36.44,important,female,empl,par-time,single
16,42407,43168,25,20,17,6.71,52.94,very_important,male,unempl,full-time,single
17,76383,43221,20,22,11,7.29,29.10,not_important,female,empl,par-time,single
18,33036,43153,24,24,16,6.29,47.76,neutral,male,empl,par-time,single
19,34078,43154,26,17,18,7.00,63.72,not_important,male,unempl,full-time,divorced
20,44586,43171,23,18,15,7.29,54.82,not_important,male,unempl,full-time,single
21,6728,43111,26,25,19,5.71,48.05,very_important,male,empl,par-time,divorced
22,58459,43193,21,24,12,6.86,39.95,neutral,female,empl,par-time,single
23,1968,43104,17,19,8,8.14,27.20,neutral,female,empl,par-time,single
24,35253,43156,18,24,8,7.43,21.91,very_important,female,empl,par-time,single
25,12972,43121,21,17,13,7.71,44.11,not_important,female,empl,par-time,single
26,78436,43224,16,22,7,7.86,28.85,neutral,female,empl,par-time,single
27,21859,43135,16,18,7,8.43,26.47,not_important,female,empl,par-time,single
28,42482,43168,24,19,5,8.57,17.19,apathetic,female,unempl,par-time,married
29,49335,43178,24,16,16,7.43,60.09,neutral,male,unempl,full-time,single
...,...,...,...,...,...,...,...,...,...,...,...,...
69,29017,43146,23,21,17,6.57,62.56,important,male,unempl,full-time,single
70,6790,43111,26,17,20,6.71,72.21,very_important,male,unempl,full-time,divorced
71,65821,43205,20,20,14,7.14,47.23,not_important,female,empl,par-time,single
72,52977,43184,29,19,17,6.86,59.69,important,male,unempl,full-time,divorced
73,88769,43241,29,19,15,7.14,49.90,neutral,male,empl,par-time,divorced
74,37258,43159,25,23,2,8.43,3.32,important,female,unempl,par-time,married
75,4351,43107,21,16,19,7.00,71.15,apathetic,male,unempl,full-time,single
76,2893,43105,25,19,11,7.71,34.33,neutral,female,empl,par-time,married
77,48353,43177,25,17,22,6.43,NaN,apathetic,male,unempl,full-time,single
78,76103,43221,22,19,22,6.14,62.63,important,male,unempl,full-time,single
79,55518,43188,29,19,18,6.71,60.78,very_important,male,unempl,full-time,divorced
80,1342,43103,19,18,13,7.57,50.04,not_important,female,unempl,par-time,single
81,5254,43109,25,25,17,6.00,43.12,important,male,empl,par-time,single
82,24692,43140,22,22,18,6.29,53.15,apathetic,male,unempl,full-time,single
83,94718,43250,18,24,14,6.57,43.20,important,female,empl,par-time,single
84,27388,43144,23,26,23,5.00,67.46,very_important,male,unempl,full-time,single
85,4926,43108,21,21,10,7.57,32.84,neutral,female,empl,par-time,single
86,96237,43253,25,21,18,6.43,53.99,very_important,male,unempl,full-time,single
87,67210,43207,26,18,13,7.57,42.78,neutral,female,empl,par-time,divorced
88,43498,43169,19,21,8,7.86,12.98,not_important,female,unempl,par-time,single
89,85408,43236,22,25,15,6.29,44.83,neutral,male,empl,par-time,single
90,93494,43248,28,16,12,8.00,47.49,not_important,female,empl,par-time,divorced
91,7938,43113,23,18,17,7.00,63.89,very_important,NaN,unempl,full-time,single
92,14216,43123,21,21,19,6.29,63.21,not_important,male,unempl,full-time,single
93,51433,43182,18,22,10,7.43,33.05,very_important,female,empl,par-time,single
94,78763,43225,19,17,13,7.71,55.29,important,female,unempl,par-time,single
95,87835,43239,22,19,22,6.14,71.41,apathetic,male,unempl,full-time,single
96,928,43102,24,21,15,6.86,48.17,important,male,empl,par-time,single
97,1186,43102,27,17,13,7.71,49.70,very_important,female,empl,par-time,divorced
98,29745,43148,23,19,8,8.14,32.61,apathetic,female,empl,par-time,married

In [ ]:
#b
data.dropna(data['gpa'], axis=0, inplace=True)

TypeError: dropna() got multiple values for argument 'axis'

In [ ]:
#c
data.dropna()

In [ ]:
#d
data.drop_duplicates()

In [ ]:
#e studentid" and "surveydate
data.drop('studentid', axis=1, inplace=True)
data.drop('surveydate', axis=1, inplace=True)

In [ ]:
#fKeep only the observations (rows) that have gpa lower than 40.
data[data['gpa']>40]

In [ ]:
#gg. Reset the index of the dataframe.
data.reindex()

In [ ]:
 #h Print the number of observations (rows) of the dataframe.
data.count()

age               99
ehpw              99
hpw               99
hsleep            98
gpa               97
imp               99
gender            98
job               99
type              99
marital.status    99
dtype: int64

In [ ]:
#i. Show the head (first five rows) of the dataframe. 
#j. Show the tail (last five rows) of the dataframe. 
print(data.head() )
print(data.tail())

   age  ehpw  hpw  hsleep    gpa             imp  gender     job       type  \
0   24    24   16    6.29  46.35  very_important    male    empl   par-time
1   18    13    9    8.86  36.84   not_important  female    empl   par-time
2   26    20   19    6.43  65.07  very_important    male  unempl  full-time
3   20    19   11    7.71  33.87       apathetic  female    empl   par-time
4   27    19   21    6.29    NaN       apathetic    male  unempl  full-time

  marital.status
0         single
1         single
2       divorced
3         single
4       divorced
    age  ehpw  hpw  hsleep    gpa             imp  gender     job       type  \
94   19    17   13    7.71  55.29       important  female  unempl   par-time
95   22    19   22    6.14  71.41       apathetic    male  unempl  full-time
96   24    21   15    6.86  48.17       important    male    empl   par-time
97   27    17   13    7.71  49.70  very_important  female    empl   par-time
98   23    19    8    8.14  32.61       apathetic  female    empl   par-time

   marital.status
94         single
95         single
96         single
97       divorced
98        married

In [ ]:
#a
data['gender'].value_counts()

female    50
male      48
Name: gender, dtype: int64

In [ ]:
#b 
(data.imp.unique())

array(['very_important', 'not_important', 'apathetic', 'neutral',
       'important'], dtype=object)

In [ ]:
#c. Count how many single people have a job.  
pd.crosstab(data.job, data.marital.status)

ModuleNotFoundError: No module named 'panda'

In [ ]:
####d. Create a dataframe with first 4 rows and last 3 columns of the dataframe.
import numpy as np
print(data.iloc( [7:],[:4]))

SyntaxError: invalid syntax (<ipython-input-162-ffc58b87eec4>, line 6)

In [ ]:
#e. Convert the first column of the newly created dataframe into a list.
data.age.tolist()

In [ ]:
data["job"] = data["job"].apply(lambda x: "employed" if x=='empl' else 'unemployed')
data

,studentid,surveydate,age,ehpw,hpw,hsleep,gpa,imp,gender,job,type,marital.status
0,57327,43191,24,24,16,6.29,46.35,very_important,male,unemployed,par-time,single
1,231,43101,18,13,9,8.86,36.84,not_important,female,unemployed,par-time,single
2,10474,43117,26,20,19,6.43,65.07,very_important,male,unemployed,full-time,divorced
3,8654,43114,20,19,11,7.71,33.87,apathetic,female,unemployed,par-time,single
4,80185,43227,27,19,21,6.29,NaN,apathetic,male,unemployed,full-time,divorced
5,69894,43211,21,14,13,8.14,48.61,neutral,female,unemployed,par-time,single
6,20300,43133,25,20,18,6.57,49.86,not_important,male,unemployed,par-time,single
7,13202,43121,26,22,19,6.14,59.62,not_important,male,unemployed,full-time,divorced
8,86953,43238,22,22,14,6.86,44.57,not_important,female,unemployed,par-time,single
9,71727,43214,21,21,13,7.14,37.56,not_important,female,unemployed,par-time,single
10,33697,43154,22,28,14,6.00,38.34,important,female,unemployed,par-time,single
11,13030,43121,24,17,16,7.29,58.18,very_important,male,unemployed,full-time,single
12,72249,43215,21,16,13,7.86,46.04,neutral,female,unemployed,par-time,single
13,66040,43205,26,19,19,6.57,66.85,important,male,unemployed,full-time,divorced
14,76426,43221,22,19,14,NaN,50.30,very_important,female,unemployed,full-time,single
15,5537,43109,22,21,13,7.14,36.44,important,female,unemployed,par-time,single
16,42407,43168,25,20,17,6.71,52.94,very_important,male,unemployed,full-time,single
17,76383,43221,20,22,11,7.29,29.10,not_important,female,unemployed,par-time,single
18,33036,43153,24,24,16,6.29,47.76,neutral,male,unemployed,par-time,single
19,34078,43154,26,17,18,7.00,63.72,not_important,male,unemployed,full-time,divorced
20,44586,43171,23,18,15,7.29,54.82,not_important,male,unemployed,full-time,single
21,6728,43111,26,25,19,5.71,48.05,very_important,male,unemployed,par-time,divorced
22,58459,43193,21,24,12,6.86,39.95,neutral,female,unemployed,par-time,single
23,1968,43104,17,19,8,8.14,27.20,neutral,female,unemployed,par-time,single
24,35253,43156,18,24,8,7.43,21.91,very_important,female,unemployed,par-time,single
25,12972,43121,21,17,13,7.71,44.11,not_important,female,unemployed,par-time,single
26,78436,43224,16,22,7,7.86,28.85,neutral,female,unemployed,par-time,single
27,21859,43135,16,18,7,8.43,26.47,not_important,female,unemployed,par-time,single
28,42482,43168,24,19,5,8.57,17.19,apathetic,female,unemployed,par-time,married
29,49335,43178,24,16,16,7.43,60.09,neutral,male,unemployed,full-time,single
...,...,...,...,...,...,...,...,...,...,...,...,...
69,29017,43146,23,21,17,6.57,62.56,important,male,unemployed,full-time,single
70,6790,43111,26,17,20,6.71,72.21,very_important,male,unemployed,full-time,divorced
71,65821,43205,20,20,14,7.14,47.23,not_important,female,unemployed,par-time,single
72,52977,43184,29,19,17,6.86,59.69,important,male,unemployed,full-time,divorced
73,88769,43241,29,19,15,7.14,49.90,neutral,male,unemployed,par-time,divorced
74,37258,43159,25,23,2,8.43,3.32,important,female,unemployed,par-time,married
75,4351,43107,21,16,19,7.00,71.15,apathetic,male,unemployed,full-time,single
76,2893,43105,25,19,11,7.71,34.33,neutral,female,unemployed,par-time,married
77,48353,43177,25,17,22,6.43,NaN,apathetic,male,unemployed,full-time,single
78,76103,43221,22,19,22,6.14,62.63,important,male,unemployed,full-time,single
79,55518,43188,29,19,18,6.71,60.78,very_important,male,unemployed,full-time,divorced
80,1342,43103,19,18,13,7.57,50.04,not_important,female,unemployed,par-time,single
81,5254,43109,25,25,17,6.00,43.12,important,male,unemployed,par-time,single
82,24692,43140,22,22,18,6.29,53.15,apathetic,male,unemployed,full-time,single
83,94718,43250,18,24,14,6.57,43.20,important,female,unemployed,par-time,single
84,27388,43144,23,26,23,5.00,67.46,very_important,male,unemployed,full-time,single
85,4926,43108,21,21,10,7.57,32.84,neutral,female,unemployed,par-time,single
86,96237,43253,25,21,18,6.43,53.99,very_important,male,unemployed,full-time,single
87,67210,43207,26,18,13,7.57,42.78,neutral,female,unemployed,par-time,divorced
88,43498,43169,19,21,8,7.86,12.98,not_important,female,unemployed,par-time,single
89,85408,43236,22,25,15,6.29,44.83,neutral,male,unemployed,par-time,single
90,93494,43248,28,16,12,8.00,47.49,not_important,female,unemployed,par-time,divorced
91,7938,43113,23,18,17,7.00,63.89,very_important,NaN,unemployed,full-time,single
92,14216,43123,21,21,19,6.29,63.21,not_important,male,unemployed,full-time,single
93,51433,43182,18,22,10,7.43,33.05,very_important,female,unemployed,par-time,single
94,78763,43225,19,17,13,7.71,55.29,important,female,unemployed,par-time,single
95,87835,43239,22,19,22,6.14,71.41,apathetic,male,unemployed,full-time,single
96,928,43102,24,21,15,6.86,48.17,important,male,unemployed,par-time,single
97,1186,43102,27,17,13,7.71,49.70,very_important,female,unemployed,par-time,divorced
98,29745,43148,23,19,8,8.14,32.61,apathetic,female,unemployed,par-time,married

In [ ]:
#b
data.to_excel("DataFinal.xlsx", index=False)

In [ ]:
#working with texts
text1="""You can’t connect the dots looking forward; you can only connect them looking backwards. 
So you have to trust that the dots will somehow connect in your future! 
You have to trust in something — your gut, destiny, life, karma, whatever. 
This approach has (never) let me down, and it has made all the difference in my life.???"""

import re
re.sub("[.,;:()!?—]", "", text1)

'You can’t connect the dots looking forward you can only connect them looking backwards \nSo you have to trust that the dots will somehow connect in your future \nYou have to trust in something  your gut destiny life karma whatever \nThis approach has never let me down and it has made all the difference in my life'

b. Print the list of unique words (not the words that appear once, but all different words used in the text). You can use print, list, set and split functions to do it with one line of code.

In [ ]:
###_____________Start code here_________________###

text1.split()

c. Exctract all phone numbers from "text2" as a list using a regular expression. <br>

In [ ]:
text2="Bill Gates phone-09342372342 Mark Zuckerberg phone-0123443253  Steve Jobs phone-0133442534"

###_____________Start code here_________________###
phone=re.findall(r"[0-9$]+", text2)
print("THE PHONE NUMBERS ARE", phone)

THE PHONE NUMBERS ARE ['09342372342', '0123443253', '0133442534']

In [ ]:
###building classes###
class Business():
    st = "LLC"
    def __init__(self, name, rev, ne):
        self.name=name
        self.rev=rev
        self.ne=ne
    def rpe(self):
        print("Revenue per employee is", self.rev/self.ne)
    def rat(self):
        print("Revenue after 20% tax deduction is", self.rev*0.2)
B1=Business("ABC", 10000, 10)
B1.rpe()
B1.rat()
B1.st

Revenue per employee is 1000.0
Revenue after 20% tax deduction is 2000.0

'LLC'

In [ ]:
###opening a nonexistent file###

try:
     with open ("sfile.txt", 'r') as "b"
except IOError:
    print ("Error: can\'t find file or read data")
else:
    print ("Written content in the file successfully")

**Problem 7.** (10 points)
<br> Create a dictionary comprehension which iterates over the two given lists simultaniously and creats a dictionary where:
- keys are from list "a" and values are from list "b"<br>
- all values are squared <br>
- only even values of dictionary are kept <br>

The output will be this: {'b': 4, 'd': 16}

In [ ]:
#dictionaru comprehension
=["a","b","c","d","e"]
b=[1,2,3,4,5]

#a
d= {i:j for i,j in zip(a,b)}
print(d)
#B
s={key:value**2 for j in d for key,value in d.items()}
print(s)
#c
e={key:value for j in s for key,value in s.items() if value%2==0}
print(e)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}
{'b': 4, 'd': 16}

****Problem 8.**** (10 points)
<br>
a. Write "ZEN" string given below in a txt file "zen.txt".<br>
b. Read the created file and create a new list that contains the first five rows of "zen.txt".<br>

In [ ]:
#writing reading texts
ZEN="""Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!"""

In [ ]:
with open("zen.txt", "w") as zen:
    zen.write (str(ZEN))

In [ ]:
#ead the created file and create a new list that contains the first five rows of "zen.txt".
for i in range(5):
    zen = open('zen.txt', 'r') 
    print(zen.readlines()[i])
    zen.close

Beautiful is better than ugly.

Explicit is better than implicit.

Simple is better than complex.

Complex is better than complicated.

Flat is better than nested.